.text-primary-template {
    color: #24695c !important; }

.setting-primary-custom {
    width: 35px;
    height: 35px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 50px; }

.bg-check {
    background-color: #329f54;
}

.bg-cross {
    background-color: #d22d3d;
}

.bg-draft {
    background-color: #ab8218;
}

.setting-primary-custom svg {
    width: 15px;
    stroke-width: 3.0px;
    /*-webkit-animation: rotateInSetting 1.5s ease infinite;*/
    /*animation: rotateInSetting 1.5s ease infinite; */
}
.setting-primary svg {
    color: #3a9aa8; }
.setting-primary i {
    color: #3a9aa8; }
.setting-primary:hover {
    background-color: #3a9aa8; }
.setting-primary:hover svg {
    color: #fff; }
.setting-primary:hover i {
    color: #fff; }

.setting-primary-custom p {
    font-size: 4px;
    /*margin-top: 15px;*/
}

.setting-primary-custom .text-large-custom{
    width: 100%;
}
.text-small-custom {
    font-size: 30px;
}

.text-check {
    color: green;
}

.text-time {
    color: #d22d3d;
}

.setting-primary-custom:hover {
    background-color: #ebb833;
}

.table-responsive .table tbody tr .center-icon {
    margin-left: auto;
    margin-right: auto;
}

.alert-note {
    cursor: pointer;
}


.alert-note .text-check:hover {
    color:#ab8218;
}

.alert-color-yellow {
    color:#ab8218
}

.alert-color-yellow:hover {
    color:#f2bf75
}

.alert-color-red {
    color:#ff0000
}

.alert-color-red:hover {
    color:#e65050
}
.alert-color-green {
    color:#24695c
}

.alert-color-green:hover {
    color:#ab8218
}

.loader-box-custom .loader-34-custom:after {
    background-color: white !important;
}

.error {
    color: #d22d3d !important;
}

.modal {
    z-index: 9999999999;
}

